.layout{
  width: 65%;
  margin: auto;
  text-align: left;
}

.cartButton{
  margin: 5px !important;
}

.emptyCart{
  text-align: center !important;
}

.headline{
  padding-top: 5px;
  padding-left: 15px;
  text-align: center;
}